body {
    height: 100vh;
    justify-items: center;
    align-content: center;
    background-color: #2F4156;
}

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 61.5%;
    }
}

@media (max-width: 450px) {
        html {
            font-size: 54%;
        }
    }
